---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	<img src=" {{ page.featured_image }}" alt=""/>
	<p>{{ page.sizes | append: ' inches' }}</p>
	
	{% if page.archived %}
		<p>part of Mick's archive.</p>
	{% else %}
		<p>Available. For enquires, please contact NAME on 01382 XXXXXX.</p>
	{% endif %}

	{{ page.content }}

	{% if page.gallery %}
	<div class="gallery" data-columns="3">
		{% for image in page.gallery %}
			<img src="{{ image }}"/>
		{% endfor %}
	</div>
	{% endif %}

</section>